html,
body {

    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}

:root:root {
    .van-popup--center {
        background-color: gray;
    }
}


header-bar {
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    padding: 0 10px;
    height: 46px;
    align-items: center;
    background-color: #b46262;
    justify-content: space-between;
    font-size: 20px;
}

html,
body,
#app {
    height: 100%;
}

textarea {
    border: none;
    outline: none;
}

button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style-type: none;
}